%video.big-video{autoplay: "autoplay", loop: "true", "data-setup" => "{}", poster: "null", preload: "auto", "webkit-playsinline" => ""}
  %source{src: "assets/videos/woman-ipad-cafe.mp4", type: "video/mp4"}
  %source{src: "assets/videos/woman-ipad-cafe.ogg", type: "video/ogg"}

/ PAGE
.page-talent.pages.white.paralax
  .bg-image-overlay
    .container
      / Header
      %header
        .row
          .span12
            &nbsp;
        %h3.offset6 Who will I be working with?
        .row
          .span6.offset6
            %p
              We segment our talent pool into
              = succeed "," do
                %strong partners
              \ who'll work with you every step of the way to help determine the strategic direction of your company, and
              = succeed "," do
                %strong associates
              \ who will build your product from start to finish.
        .row
          .span12
            &nbsp;
/ END PAGE

/ PAGE | TALENT-PARTNERS
.page-talent.pages.white-bg
  .container
    %header
      %p
        = succeed "," do
          %strong Partners
        are experienced entrepreneurs who have often made successful exits from their own companies. They know all about the common pitfalls and challenges of building a startup from the ground up. They'll work with you during the early stages of a project to help you figure out what to build and in what order, given your timeframe and budget.
      %p
        = succeed "," do
          %strong Associates
        tend to be freelancers with 3-5+ years of development or design experience. They're highly motivated, are experts in agile methodoglies, and are up-to-date on software development best practices. They're very, very good at what they do.

.page-talent-people.white.pages.paralax
  .bg-image-overlay
    .container
      %header
        %h4 We're not just developers
        .row
          .span8.offset2
            %p
              Unlike traditional devshops, we don't just implement a spec. We help you figure out
              %strong what you should be building
              \-- based on
              = succeed "." do
                %strong what your business needs
        %h4 Developers you can rely on
        .row
          .span8.offset2
            %p
              Our developers are both world-class and locally available. Here's a sampling:
        %br/
        / Article
        %article
          / List of people and description with their contact details which are visable on hover
          %ul.thumbnails.about-items
            %li.span4.center
              / Team member name and function
              %h5
                Andrew Frankel
                %br/
                %small Pointless Title
              / Team member short info
              %p.smallFontBy08 A jack-of-all-trades technologist, Andrew has worked as a developer, sys-admin, designer, and team leader. He's available to help your team with both hands-on execution and high-level strategy.
            %li.span4.center
              %h5
                Kenneth Chen
                %br/
                %small Pointless Title
              %p.smallFontBy08 A Goldman Sachs alum turned tech entrepreneur, Ken is a full-stack web developer and project manager. He has worked on large, multi-year projects and regularly wins prizes at day-long hackathons.
            %li.span4.center
              %h5
                Zalman
                %br/
                %small Pointless Title
              %p.smallFontBy08 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.
        / End Article

      / End Header

/ PAGE
.page-talent.pages.paralax.white-bg
  .container
    / Header
    %header
      %h3 Why should I become a Lambda associate?
      .row
        .span8.offset2
          %ul
            %li
              %i.fa.fa-money
              Make more money -- we negotiate on your behalf to get you the highest rate possible. In almost every case, our consultants have earned a higher rate than they previously asked for on their own.
            %li
              %i.fa.fa-group
              We find clients – 'Nuff said
            %li
              %i.fa.fa-shield
              Serious clients only – Wanna hear about a disruptive social network for cats that "just needs a coder"? Neither do we.
            %li
              %i.fa.fa-legal
              Safe – Payments are held in escrow and released as the work is completed
            %li
              %i.fa.fa-magic
              Easy – We take care of the paperwork and the legalese.
    / End Header
/ END PAGE

/ PAGE
.page-talent-partners.white.pages.paralax
  .bg-image-overlay
    .container
      / Header
      %header
        %h3 What does it mean to become a Lambda partner?
        .row
          .span8.offset2
            %ul
              %li
                %i.fa.fa-chevron-right
                You'd get complete access to our database of developers for any project you'd like to take on. And they're all people who have been evaluated by us personally.
              %li
                %i.fa.fa-chevron-right
                You'd get access to as many leads as you can handle from us (we go out to networking events every day to generate leads).
              %li
                %i.fa.fa-chevron-right
                If you close a sale for us, you'd get the credit, regardless of whether you decide to work on the project yourself, or assign it to someone else.
              %li 
                %i.fa.fa-chevron-right
                You can send us any leads that you come across, and get paid for those as well, if we end up closing on them.
              %li
                %i.fa.fa-chevron-right
                You'd be able to leverage the Lambda brand when pitching yourself to potential clients. It doesn't matter if you haven't gotten around to building your portfolio yet, because you can simply show them ours.
              %li
                %i.fa.fa-chevron-right
                You'd agree not to work on freelance projects outside of Lambda. Working on your own side projects, or on your own startup is completely fine -- in fact, most of our people have some sort of side project.
      / End Header
/ END PAGE

/ PAGE
.page-talent.pages.paralax.white-bg
  .container
    / Header
    %header
      %h3 Who should become a Lambda partner?
      .row
        .span8.offset2
          %ul
            %li
              %i.fa.fa-chevron-right
              Have you ever had trouble generating leads? Get an infinite stream of leads from us -- as many as you can handle. We have a team of people who go out to networking events every day to generate qualified leads. We avoid looking on online job boards, because we only want to work with the most qualified clients.
            %li
              %i.fa.fa-chevron-right
              Have you ever said "no" to a client, because you didn't have the availability, or because you don't have the right skillset? As a Lambda partner, you'd get complete access to our pool of developers. Work with the developer yourself, or simply make the introduction, get your cut, and move on.
            %li
              %i.fa.fa-chevron-right
              Have a lot of development experience but are new to freelancing and want to start your own freelancing business? We can help you get there. You'll be involved in every aspect of the sales cycle and we'll teach you everything we know -- only if you want to, of course.
    / End Header

/ END PAGE
